In [1]:
import numpy as np
import pandas as pd

In [2]:
flats = pd.read_csv('flats_cleaned.csv')
houses = pd.read_csv('house_cleaned.csv')

In [21]:
flats.shape

(2997, 20)

In [20]:
houses.shape

(964, 20)

In [5]:
# Concatinating two dataframes into one dataframe
df = pd.concat([flats,houses],ignore_index=True)

In [6]:
df = df.sample(df.shape[0],ignore_index=True)

In [43]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sohna,flat,breez global hill view,0.32,5776.0,554.0,Carpet area: 554 (51.47 sq.m.),2,2,2,not available,"1905, Sohna, Gurgaon, Haryana",19.0,North,1 to 5 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Nin...",Sohna is a peripheral area on the southern sid...,"['2 Wardrobe', '2 Bed', '1 Water Purifier', '4...","['Power Back-up', 'Lift(s)', 'Maintenance Staf...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,1 BHK Flat in Sector 81 Gurgaon,flat,signature global synera,0.38,9500.0,400.0,Carpet area: 400 (37.16 sq.m.),1,1,2,not available,"503, Sector 81 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...",Signature global synera is one of gurgaon's mo...,NaN,"['Lift(s)', 'Maintenance Staff', 'False Ceilin...","['Green Area4 out of 5', 'Construction3 out of..."
2,3 BHK Flat in Sector 65 Gurgaon,flat,emaar mgf emerald floors premier,2.35,14242.0,1650.0,Carpet area: 1650 (153.29 sq.m.),3,3,3,"study room,servant room","698, Sector 65 Gurgaon, Gurgaon, Haryana",3.0,East,1 to 5 Year Old,"['WorldMark Gurgaon', 'Sohna Road', 'Golf Cour...",Emaar mgf emerald floors premier is one of gur...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area4.5 out of 5', 'Construction5 out ..."
3,2 BHK Flat in Sector 88B Gurgaon,flat,vatika xpressions,1.10,8148.0,1350.0,Built Up area: 1350 (125.42 sq.m.)Carpet area:...,2,4,3+,study room,"H 23, Sector 88B Gurgaon, Gurgaon, Haryana",2.0,North-East,Under Construction,"['Dwarka Expressway', 'Adarsh public school,Ga...",We are the proud owners of this 2 bhk apartmen...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...",NaN
4,3 BHK Flat in Sector 37D Gurgaon,flat,bptp terra,1.72,7850.0,2191.0,Super Built up area 2191(203.55 sq.m.),3,3,3+,servant room,"9th Floor, Sector 37D Gurgaon, Gurgaon, Haryana",10.0,South-East,1 to 5 Year Old,"['Airia Mall', 'Dwarka Expressway', 'Golf Cour...",Check out this 3 bhk apartment for sale in bpt...,"['5 Fan', '5 Light', '3 AC', 'No Bed', 'No Chi...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...","['Green Area4.5 out of 5', 'Construction4.5 ou..."

In [44]:
df.shape

(3961, 20)

In [45]:
df.duplicated().sum()

0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [47]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
dtype: int64

In [48]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sohna,flat,breez global hill view,0.32,5776.0,554.0,Carpet area: 554 (51.47 sq.m.),2,2,2,not available,"1905, Sohna, Gurgaon, Haryana",19.0,North,1 to 5 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Nin...",Sohna is a peripheral area on the southern sid...,"['2 Wardrobe', '2 Bed', '1 Water Purifier', '4...","['Power Back-up', 'Lift(s)', 'Maintenance Staf...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,1 BHK Flat in Sector 81 Gurgaon,flat,signature global synera,0.38,9500.0,400.0,Carpet area: 400 (37.16 sq.m.),1,1,2,not available,"503, Sector 81 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...",Signature global synera is one of gurgaon's mo...,NaN,"['Lift(s)', 'Maintenance Staff', 'False Ceilin...","['Green Area4 out of 5', 'Construction3 out of..."
2,3 BHK Flat in Sector 65 Gurgaon,flat,emaar mgf emerald floors premier,2.35,14242.0,1650.0,Carpet area: 1650 (153.29 sq.m.),3,3,3,"study room,servant room","698, Sector 65 Gurgaon, Gurgaon, Haryana",3.0,East,1 to 5 Year Old,"['WorldMark Gurgaon', 'Sohna Road', 'Golf Cour...",Emaar mgf emerald floors premier is one of gur...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area4.5 out of 5', 'Construction5 out ..."
3,2 BHK Flat in Sector 88B Gurgaon,flat,vatika xpressions,1.10,8148.0,1350.0,Built Up area: 1350 (125.42 sq.m.)Carpet area:...,2,4,3+,study room,"H 23, Sector 88B Gurgaon, Gurgaon, Haryana",2.0,North-East,Under Construction,"['Dwarka Expressway', 'Adarsh public school,Ga...",We are the proud owners of this 2 bhk apartmen...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...",NaN
4,3 BHK Flat in Sector 37D Gurgaon,flat,bptp terra,1.72,7850.0,2191.0,Super Built up area 2191(203.55 sq.m.),3,3,3+,servant room,"9th Floor, Sector 37D Gurgaon, Gurgaon, Haryana",10.0,South-East,1 to 5 Year Old,"['Airia Mall', 'Dwarka Expressway', 'Golf Cour...",Check out this 3 bhk apartment for sale in bpt...,"['5 Fan', '5 Light', '3 AC', 'No Bed', 'No Chi...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...","['Green Area4.5 out of 5', 'Construction4.5 ou..."

In [49]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [50]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sohna,flat,breez global hill view,Sohna,0.32,5776.0,554.0,Carpet area: 554 (51.47 sq.m.),2,2,...,not available,"1905, Sohna, Gurgaon, Haryana",19.0,North,1 to 5 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Nin...",Sohna is a peripheral area on the southern sid...,"['2 Wardrobe', '2 Bed', '1 Water Purifier', '4...","['Power Back-up', 'Lift(s)', 'Maintenance Staf...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,1 BHK Flat in Sector 81 Gurgaon,flat,signature global synera,Sector 81,0.38,9500.0,400.0,Carpet area: 400 (37.16 sq.m.),1,1,...,not available,"503, Sector 81 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...",Signature global synera is one of gurgaon's mo...,NaN,"['Lift(s)', 'Maintenance Staff', 'False Ceilin...","['Green Area4 out of 5', 'Construction3 out of..."
2,3 BHK Flat in Sector 65 Gurgaon,flat,emaar mgf emerald floors premier,Sector 65,2.35,14242.0,1650.0,Carpet area: 1650 (153.29 sq.m.),3,3,...,"study room,servant room","698, Sector 65 Gurgaon, Gurgaon, Haryana",3.0,East,1 to 5 Year Old,"['WorldMark Gurgaon', 'Sohna Road', 'Golf Cour...",Emaar mgf emerald floors premier is one of gur...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area4.5 out of 5', 'Construction5 out ..."
3,2 BHK Flat in Sector 88B Gurgaon,flat,vatika xpressions,Sector 88B,1.10,8148.0,1350.0,Built Up area: 1350 (125.42 sq.m.)Carpet area:...,2,4,...,study room,"H 23, Sector 88B Gurgaon, Gurgaon, Haryana",2.0,North-East,Under Construction,"['Dwarka Expressway', 'Adarsh public school,Ga...",We are the proud owners of this 2 bhk apartmen...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...",NaN
4,3 BHK Flat in Sector 37D Gurgaon,flat,bptp terra,Sector 37D,1.72,7850.0,2191.0,Super Built up area 2191(203.55 sq.m.),3,3,...,servant room,"9th Floor, Sector 37D Gurgaon, Gurgaon, Haryana",10.0,South-East,1 to 5 Year Old,"['Airia Mall', 'Dwarka Expressway', 'Golf Cour...",Check out this 3 bhk apartment for sale in bpt...,"['5 Fan', '5 Light', '3 AC', 'No Bed', 'No Chi...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...","['Green Area4.5 out of 5', 'Construction4.5 ou..."

In [51]:
df['sector'] = df['sector'].str.lower()

In [52]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sohna,flat,breez global hill view,sohna,0.32,5776.0,554.0,Carpet area: 554 (51.47 sq.m.),2,2,...,not available,"1905, Sohna, Gurgaon, Haryana",19.0,North,1 to 5 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Nin...",Sohna is a peripheral area on the southern sid...,"['2 Wardrobe', '2 Bed', '1 Water Purifier', '4...","['Power Back-up', 'Lift(s)', 'Maintenance Staf...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,1 BHK Flat in Sector 81 Gurgaon,flat,signature global synera,sector 81,0.38,9500.0,400.0,Carpet area: 400 (37.16 sq.m.),1,1,...,not available,"503, Sector 81 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...",Signature global synera is one of gurgaon's mo...,NaN,"['Lift(s)', 'Maintenance Staff', 'False Ceilin...","['Green Area4 out of 5', 'Construction3 out of..."
2,3 BHK Flat in Sector 65 Gurgaon,flat,emaar mgf emerald floors premier,sector 65,2.35,14242.0,1650.0,Carpet area: 1650 (153.29 sq.m.),3,3,...,"study room,servant room","698, Sector 65 Gurgaon, Gurgaon, Haryana",3.0,East,1 to 5 Year Old,"['WorldMark Gurgaon', 'Sohna Road', 'Golf Cour...",Emaar mgf emerald floors premier is one of gur...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area4.5 out of 5', 'Construction5 out ..."
3,2 BHK Flat in Sector 88B Gurgaon,flat,vatika xpressions,sector 88b,1.10,8148.0,1350.0,Built Up area: 1350 (125.42 sq.m.)Carpet area:...,2,4,...,study room,"H 23, Sector 88B Gurgaon, Gurgaon, Haryana",2.0,North-East,Under Construction,"['Dwarka Expressway', 'Adarsh public school,Ga...",We are the proud owners of this 2 bhk apartmen...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...",NaN
4,3 BHK Flat in Sector 37D Gurgaon,flat,bptp terra,sector 37d,1.72,7850.0,2191.0,Super Built up area 2191(203.55 sq.m.),3,3,...,servant room,"9th Floor, Sector 37D Gurgaon, Gurgaon, Haryana",10.0,South-East,1 to 5 Year Old,"['Airia Mall', 'Dwarka Expressway', 'Golf Cour...",Check out this 3 bhk apartment for sale in bpt...,"['5 Fan', '5 Light', '3 AC', 'No Bed', 'No Chi...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...","['Green Area4.5 out of 5', 'Construction4.5 ou..."

In [53]:
df['sector'].value_counts()

sohna                                                        163
sector 102                                                   113
sector 85                                                    110
sector 92                                                    104
sector 69                                                     94
                                                            ...
near khandsa road                                              1
devi lal colony gali no 12 gurgaon nr omkar public school      1
kanahi                                                         1
godrej aria , sector 79 ,                                      1
lucknow                                                        1
Name: sector, Length: 301, dtype: int64

In [54]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

In [55]:
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

In [56]:
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')

In [57]:
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

In [58]:
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

In [59]:
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

In [60]:
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [61]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [62]:
df['sector'].value_counts()

sohna road     163
sector 102     113
sector 85      110
sector 92      104
sector 69       94
              ...
sector 17b       3
sector 17a       3
sector 73        3
sector 15        3
maruti kunj      3
Name: sector, Length: 131, dtype: int64

In [63]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')

In [64]:
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [65]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2181,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,...,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
3202,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,...,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN
3555,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,...,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
3704,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,...,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN

In [66]:
df.loc[2181,'sector'] = 'sector 37'
df.loc[3202,'sector'] = 'sector 92'
df.loc[3555,'sector'] = 'sector 90'
df.loc[3704,'sector'] = 'sector 76'

In [67]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
454,3 Bedroom House for sale in New Palam Vihar,house,independent,new sector 2,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,...,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
1912,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2,2,...,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
2000,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2,2,...,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
2076,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2,2,...,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
2901,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2,1,...,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [68]:
df.loc[[454,1912,2000,2076,2901],'sector'] = 'sector 110'

In [69]:
df.shape

(3803, 21)

In [70]:
df.duplicated().sum()

0

In [71]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sohna,flat,breez global hill view,sohna road,0.32,5776.0,554.0,Carpet area: 554 (51.47 sq.m.),2,2,...,not available,"1905, Sohna, Gurgaon, Haryana",19.0,North,1 to 5 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Nin...",Sohna is a peripheral area on the southern sid...,"['2 Wardrobe', '2 Bed', '1 Water Purifier', '4...","['Power Back-up', 'Lift(s)', 'Maintenance Staf...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,1 BHK Flat in Sector 81 Gurgaon,flat,signature global synera,sector 81,0.38,9500.0,400.0,Carpet area: 400 (37.16 sq.m.),1,1,...,not available,"503, Sector 81 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...",Signature global synera is one of gurgaon's mo...,NaN,"['Lift(s)', 'Maintenance Staff', 'False Ceilin...","['Green Area4 out of 5', 'Construction3 out of..."
2,3 BHK Flat in Sector 65 Gurgaon,flat,emaar mgf emerald floors premier,sector 65,2.35,14242.0,1650.0,Carpet area: 1650 (153.29 sq.m.),3,3,...,"study room,servant room","698, Sector 65 Gurgaon, Gurgaon, Haryana",3.0,East,1 to 5 Year Old,"['WorldMark Gurgaon', 'Sohna Road', 'Golf Cour...",Emaar mgf emerald floors premier is one of gur...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area4.5 out of 5', 'Construction5 out ..."
3,2 BHK Flat in Sector 88B Gurgaon,flat,vatika xpressions,sector 88b,1.10,8148.0,1350.0,Built Up area: 1350 (125.42 sq.m.)Carpet area:...,2,4,...,study room,"H 23, Sector 88B Gurgaon, Gurgaon, Haryana",2.0,North-East,Under Construction,"['Dwarka Expressway', 'Adarsh public school,Ga...",We are the proud owners of this 2 bhk apartmen...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...",NaN
4,3 BHK Flat in Sector 37D Gurgaon,flat,bptp terra,sector 37d,1.72,7850.0,2191.0,Super Built up area 2191(203.55 sq.m.),3,3,...,servant room,"9th Floor, Sector 37D Gurgaon, Gurgaon, Haryana",10.0,South-East,1 to 5 Year Old,"['Airia Mall', 'Dwarka Expressway', 'Golf Cour...",Check out this 3 bhk apartment for sale in bpt...,"['5 Fan', '5 Light', '3 AC', 'No Bed', 'No Chi...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...","['Green Area4.5 out of 5', 'Construction4.5 ou..."

In [72]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [73]:
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
475,flat,dlf regency park,sector 28,2.35,13224.0,1777.0,Super Built up area 1777(165.09 sq.m.)Built Up...,3,4,3,servant room,8.0,South-East,10+ Year Old,"['Dlf phase 1 metro station', 'Sector 42-43 me...","['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe..."
1527,flat,tulip lemon,sector 69,0.60,10000.0,600.0,Carpet area: 600 (55.74 sq.m.),2,1,1,not available,12.0,NaN,1 to 5 Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...","['2 Wardrobe', '3 Fan', '1 Geyser', '5 Light',...","['Piped-gas', 'Security Personnel', 'Shopping ..."
1486,flat,vatika lifestyle homes,sector 83,1.15,8214.0,1400.0,Super Built up area 1832(170.2 sq.m.)Carpet ar...,3,3,1,not available,7.0,South-West,5 to 10 Year Old,"['Sapphire 83 Mall', 'NH – 08', 'Knowledge Tre...","['3 Wardrobe', '2 Fan', '1 Exhaust Fan', '2 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
2125,flat,conscient heritage max,sector 102,1.82,9011.0,2020.0,Super Built up area 1942(180.42 sq.m.),3,4,3+,servant room,12.0,North-East,1 to 5 Year Old,"['Huda Metro Station', 'Ocus Medley Mall', 'Th...",[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
1539,flat,orris aster court premier,sector 85,1.20,5660.0,2120.0,Super Built up area 2120(196.95 sq.m.)Built Up...,3,4,2,servant room,6.0,North-East,1 to 5 Year Old,"['Propose Metro Station', 'SS Omnia Mall', 'Na...","['3 Wardrobe', '1 Modular Kitchen', '1 Chimney...","['Lift(s)', 'Maintenance Staff', 'Water Storag..."

In [74]:
# feature engineering required -> areaWithType, additionalRoom, facing, agePossession, furnishDetails, features

In [75]:
df.duplicated().sum()

122

In [77]:
df.to_csv('gurgaon_properties_cleaned_v1.csv',index=False)